
body {
   font-family: Arial, sans-serif;
}

h1, h2, h3 {
   font-weight: bold;
}

button {
   background-color: #4ade80;
   color: #fff;
   border: none;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
}

button:hover {
   background-color: #3bc779;
}
