Ym9keSB7CiAgICBmb250LWZhbWlseTogQXJpYWwsIHNhbnMtc2VyaWY7Cn0K
CmhlYWRlciB7CiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjMzMzOwogICAgY29s
b3I6ICNmZmY7CiAgICBwYWRkaW5nOiAxcmVtOwp9CgptYWluIHsKICAgIGJh
Y2tncm91bmQtY29sb3I6ICNmN2Y3Zjc7CiAgICBwYWRkaW5nOiAxcmVtOwp9
CgouY2FyZCB7CiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmOwogICAgcGFk
ZGluZzogMXJlbTsKICAgIGJvcmRlcjogMXB4IHNvbGlkICNkZGQ7CiAgICBi
b3JkZXItcmFkaXVzOiAwLjI1cmVtOwogICAgYm94LXNoYWRvdzogMCAwIDEw
cHggcmdiYSgwLCAwLCAwLCAwLjEpOwp9CgouY2FyZCBoMyB7CiAgICBtYXJn
aW4tdG9wOiAwOwp9CgouY2FyZCBpbWcgewogICAgd2lkdGg6IDEwMCU7CiAg
ICBoZWlnaHQ6IDE1MHB4OwogICAgb2JqZWN0LWZpdDogY292ZXI7CiAgICBi
b3JkZXItcmFkaXVzOiAwLjI1cmVtIDAuMjVyZW0gMCAwOwp9
